body {
	font-size: 18px;
	font-family: Helvetica;
}

.site {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: black;
	flex-direction: column;
	
}

.container{
	display: flex;
	justify-content: center;
	width: 100%;
}

.headline {
	display: flex;
	width: 960px;
	background-color: black;
	color: white;
	font-size: 1rem;
	vertical-align: middle;
	justify-content: flex-start;
	
}

.headline img {
	display: flex;
	height: 1.5rem;
	margin: .66rem 1rem .66rem .5rem;	
}

.headline span {
	display: flex;
	color: white;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
	
}

.site-2 {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	

}

.container-2 {
	display: flex;
	flex-direction: column;
}

.hero{
	display: flex;
	height: 25rem;
	background-image: url(/resources/img/moto.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex-direction: column;
	width: 100%;
}

.hero-box {
	display: flex;
	width: 20rem;
	height: 10rem;
	font-weight: bold;
	font-size: 1rem;
	color: white;
	padding: 2rem 0rem 0rem 3rem;
	background-color: black;
	align-content: center;
	justify-content: center;
	margin: 9rem 0rem 0rem 15rem;
}

.hero-copy {
	display: flex;
	font-weight: bold;
	font-size: 1rem;
	color: white;
	flex-direction: column;

}

.hero-copy span{
	display: flex;
	color: white;
	font-size: 2rem;
	padding-top: .25rem;
}

nav {
	display: flex;
	width: 100%;
	font-size: 1rem;
	color: white;
	padding: .75rem 3rem .75rem 3rem;
	background-color: firebrick;
	justify-content: center;
}

.navi-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.navi-master {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%
}

nav span {
	padding:0rem 3rem 0rem 3rem;
}

.grid-container {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: white;
	flex-direction: column;
	flex-wrap: wrap;
}

.grid-master {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.grid {
	display: flex;
	flex-direction: row;
	margin: 3rem 3rem;
	justify-content: space-between;
	width: 60%;
	overflow: hidden;
}

.grid-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	border: 4px solid black;
	justify-content: flex-end;
	overflow: hidden;
}

.grid-img img{
	padding: 2rem 2rem 2rem 2rem;
	height: 9rem;
	width: 9rem;
	max-width: 100%;
	height: auto;
}

#glasses img {
	margin-top: 2rem;
	margin-bottom: 2rem;
	height: 4rem;
}

.grid-img span {
	display: flex;
	justify-content: center;
	padding: .5rem 0rem .5rem 0rem;
	color: white;
	background-color: black;
	width: 100%;
	align-items: center;
}

.grid-2 {
	width: 25%;
	height: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: black;
	margin-left: 4rem;
	margin-right: 4rem;
	margin-bottom: 4rem;
	flex-wrap: wrap;

}

.black {
	display: flex;
	justify-content: left;
	flex-direction: row;
	width: 35%;
	color: white;
	margin-top: 1rem;
	flex-wrap: wrap;
}

.grid-3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 4rem;
	margin-right: 4rem;
	margin-bottom: 4rem;
	vertical-align: top;
	flex-wrap: wrap;
}

.white {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 35%;
	color: black;
	margin-right: 4.5rem;
	flex-wrap: wrap;
}

.white span{
	display: flex;
	justify-content: left;
	margin-top: 3rem;
}

#hours {
	position: relative;
	right: 185px;
}

#coordinates {
	position: relative;
	right: 150px;
}

.footer-container {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: black;
	height: 5rem;
}

.footer-master {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 55%
}

.footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	background-color: black;
}

.menu-toggle{
	display: none;
}

@media only screen and (max-width: 1024px) {
	#glasses,
		.hide{
		display: none;
	}
	nav span{
		display: block;
	}
	.menu-toggle{
	display: block;
	text-decoration: none;
	color: white;
	}

	.headline{
			display: flex;
			justify-content: center;
			position: relative;
		}

		.hero-box {
			display: flex;
			justify-content: center;
		}

	.grid-container {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.grid-master {
		display: flex;
		width: 100%;
		right: 40%;
		justify-content: space-between;

	}

	.grid {
		display: flex;
		justify-content: space-between;
		width: 100%;

	}

	.grid img{
		display: flex;
		justify-content: space-between;
		width: 47%;
	}

	.white span {
	position: relative;
	left: 150px;
}

	#coordinates{
		position: relative;
		margin-bottom: 200px;
	}

	.hero-box {
		position: relative;
		right: 200px;
	}


}

@media only screen and (max-width: 470px) {
	.headline span{
		display: none;
	}

	.headline img {
		display: flex;
		justify-content: center;
	}

	.hero-box {
		display: flex;
		justify-content: center;
		margin-top: 209px;
		width: 90%;
		margin-left: 198px;
	}

	.grid {
		display: flex;
		justify-content: center;
		width: 90%;
	}

	#watch {
		display: none;
	}

	#pen {
		display: flex;
		justify-content: center;
		align-self: center;
		align-items: center;
		width: 90%;
	}

	.grid-2 {
		width: 90%;
	}

	.black {
		padding-left: 1rem;
	}

	.coordinates {
		position: relative;
		padding-right: 20px;
	}
	
	.footer {
		display: flex;
		justify-content: center;
		vertical-align: middle;
	}

	.footer span {
		display: flex;
		justify-content: center;
	}
}